.button__details {
  height: 150px;
  width: 150px;
  background: green;
  font-size: 50px;
  margin: -2px;
  vertical-align: middle;
  padding: 4px;
  border: solid 2px darkgoldenrod;
}

.button__light--green {
  background: lightgreen;
}

.calculator__details {
  width: 700px;
  height: 850px;
  margin: 20px 20% 20px 20%;
}

.div__section {
  display: block;
}

.input__details {
  height: 148px;
  width: 448px;
  display: inline-block;
  margin-left: -2px;
  margin-bottom: -2px;
  vertical-align: bottom;
  text-align: right;
  background: green;
  border: solid darkgoldenrod 2px;
  font-size: 50px;
}
